.contact{
    background-color: #191919;
}
h1.contact__text{
    font-size: 60px;
}
img.contact__img{
    width: 75%;
    height: 75%;
    overflow: hidden;
    border-radius: 50px;
    margin-left: 150px;
}
input.contact{
    display: block;
    width: 100%;
    padding: 0 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    height: 50px;
    line-height: 46px;
    margin: 20px 0px;
    outline: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: .1px;
    background: none;
    border: 2px solid hsla(0, 0%, 100%, .2);
}
textarea#message{
    height: 120px;
    background: none;
    padding: 0 20px;
    width: 100%;
    line-height: 46px;
    color: #fff;
    font-size: 15px;
    letter-spacing: .1px;
    border: 2px solid hsla(0, 0%, 100%, .2);
}
button.btn.contact.pointer{
    margin: 20px 0px;
    font-size: 18px;
    transition: .4s ease;
    margin-top: 50px;
}
@media only screen and (max-width: 425px){
    .col__2{
        margin-left: 70px;
    }
    /* .contact__box{
        margin-left: 70px;

    } */
    input.contact{
        width: 90%;
    }
    textarea#message{
        width: 90%;
    }
    img.contact__img{
        margin-left: 0px;
        margin-right: 100px;
    }
}